/* Estilos para el encabezado */
.header {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

/* Estilos para el contenedor */
.container {
    margin: 50px auto; /* Centra el contenedor verticalmente y horizontalmente */
    max-width: 800px;
    padding: 20px; /* Agrega un poco de espacio entre el contenido y los bordes del contenedor */
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo semi-transparente */
}


/* Estilos para los campos del formulario */
.form-label {
    font-weight: bold;
}

/* Estilos para los botones */
.btn {
    margin-top: 10px;
}

.thumbnail{
    padding: 10px;
}
